@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-Black.otf') format('otf');
    src: url('fonts/AvenirLTStd-Book.otf') format('otf');
    src: url('fonts/AvenirLTStd-Roman.otf') format('otf');

}

body, html {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #90C1C1;
    padding: 0;
    margin: 0;
    height: 55px;
}

.logo {
    font-family: 'AvenirLTStd-Black', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 10px 10px;
}

.search-bar input[type="text"] {
    width: 450px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-right: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #475E5E;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.search-bar input[type="text"],
.search-bar button {
    font-family: 'AvenirLTStd-Black', sans-serif;
}

.account {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
}

.profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    align-items: center;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.profile-image img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}


.user-info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.username {
    font-weight: bold;
    font-family: 'AvenirLTStd-Black', sans-serif;
    font-size: 14px;
    margin: 0;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    padding: 50px;
}

.tile {
    position: relative;
    width: 85%;
    height: 300px;
    background-color: #D7FFF0;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tile:hover {
    background-color: #ABCCC0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}


.tile .title {
    position: absolute;
    top: 2px;
    left: 20px;
    font-family: 'AvenirLTStd-Book', sans-serif;
}

.tile .created-at {
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 15px;
    font-family: 'AvenirLTStd-Book', sans-serif;
}

.tile .tags {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 14px;
    font-family: 'AvenirLTStd-Book', sans-serif;
}

.tile img {
    width: 73%;
    height: 73%;
    object-fit: cover;
    display: block;
    margin: 65px auto 10px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .tile {
        width: calc(100% - 40px);
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: black;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
}