@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-Black.otf') format('otf');
    src: url('fonts/AvenirLTStd-Book.otf') format('otf');
    src: url('fonts/AvenirLTStd-Roman.otf') format('otf');

}

body, html {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #90C1C1;
    padding: 0;
    margin: 0;
    height: 55px;
}

.logo {
    font-family: 'AvenirLTStd-Black', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-left: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 10px 10px;
}

.search-bar input[type="text"] {
    width: 450px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-right: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #475E5E;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.search-bar input[type="text"],
.search-bar button {
    font-family: 'AvenirLTStd-Black', sans-serif;
}

.account {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
}

.profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    align-items: center;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.profile-image img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.username {
    font-weight: bold;
    font-family: 'AvenirLTStd-Black', sans-serif;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}


.tile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    padding: 50px;
}

.tile {
    position: relative;
    width: 85%;
    height: 300px;
    background-color: #D7FFF0;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tile:hover {
    background-color: #ABCCC0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}


.tile .title {
    position: absolute;
    top: 2px;
    left: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'AvenirLTStd-Book', sans-serif;
}

.tile .created-at {
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 15px;
    font-family: 'AvenirLTStd-Book', sans-serif;
}

.tile .tags {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 14px;
    font-family: 'AvenirLTStd-Book', sans-serif;
}

.tile img {
    width: 73%;
    height: 73%;
    object-fit: cover;
    display: block;
    margin: 65px auto 10px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .tile {
        width: calc(100% - 40px);
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: black;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.post-details {
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.post-title {
    font-family: 'AvenirLTStd-Roman', sans-serif;
    padding-top: 50px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-author-tags-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-author {
    font-family: 'AvenirLTStd-Roman', sans-serif;
    font-size: 16px;
    color: gray;
    margin-right: 15%;
}

.post-tags {
    font-family: 'AvenirLTStd-Roman', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 15%;
}

.post-created-at {
    font-family: 'AvenirLTStd-Roman', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: right;
    margin-right: 15%;
    color: gray;
}

.post-content {
    font-family: 'AvenirLTStd-Roman', sans-serif;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.post-image {
    width: 70%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    width: 65%;
    background-color: #D6F0E6;
    padding: 10px;
    margin: 0 auto 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.comment-author {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-date {
    font-size: 14px;
    color: gray;
    text-align: right;
}

.comment-content {
    font-size: 16px;
    line-height: 1.5;
}

.post-main-section {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    padding: 20px;
}


.post-author-tags-container {
    display: flex;
    justify-content: space-between;
}

.comments-section {
    background-color: #f7f7f7;
    padding: 20px;
}