@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-Black.otf') format('otf');
    src: url('fonts/AvenirLTStd-Book.otf') format('otf');
    src: url('fonts/AvenirLTStd-Roman.otf') format('otf');
}

body, html {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #90C1C1;
    padding: 0;
    margin: 0;
    height: 55px;
}

.logo {
    font-family: 'AvenirLTStd-Black', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-left: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 10px 10px;
}

.search-bar input[type="text"] {
    width: 450px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-right: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #475E5E;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.search-bar input[type="text"],
.search-bar button {
    font-family: 'AvenirLTStd-Black', sans-serif;
}

.account {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
}

.profile-image img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.username {
    font-weight: bold;
    font-family: 'AvenirLTStd-Black', sans-serif;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}


.tile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    padding: 50px;
}

.tile {
    position: relative;
    width: 85%;
    height: 300px;
    background-color: #D7FFF0;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tile:hover {
    background-color: #ABCCC0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}


.tile .title {
    position: absolute;
    top: 2px;
    left: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'AvenirLTStd-Book', sans-serif;
}

.tile .created-at {
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 15px;
    font-family: 'AvenirLTStd-Book', sans-serif;
}

.tile .tags {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 14px;
    font-family: 'AvenirLTStd-Book', sans-serif;
}

.tile img {
    width: 73%;
    height: 73%;
    object-fit: cover;
    display: block;
    margin: 65px auto 10px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .tile {
        width: calc(100% - 40px);
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: black;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.post-details {
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.post-title {
    font-family: 'AvenirLTStd-Roman', sans-serif;
    padding-top: 50px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-author-tags-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-author {
    font-family: 'AvenirLTStd-Roman', sans-serif;
    font-size: 16px;
    color: gray;
    margin-right: 15%;
}

.post-tags {
    font-family: 'AvenirLTStd-Roman', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 15%;
}

.post-created-at {
    font-family: 'AvenirLTStd-Roman', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: right;
    margin-right: 15%;
    color: gray;
}

.post-content {
    font-family: 'AvenirLTStd-Roman', sans-serif;
    margin-top: 20px;
    margin-right: 10vw;
    margin-left: 10vw;
    font-size: 16px;
    line-height: 1.5;
}

.post-image {
    width: 68%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    width: 65%;
    background-color: #D6F0E6;
    padding: 10px;
    margin: 0 auto 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.comment-author {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-date {
    font-size: 14px;
    color: gray;
    text-align: right;
}

.comment-content {
    font-size: 16px;
    line-height: 1.5;
}

.post-main-section {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    padding: 20px;
}


.post-author-tags-container {
    display: flex;
    justify-content: space-between;
}

.comments-section {
    background-color: #f7f7f7;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

.login-wrapper {
    width: 90px;
    margin: 0 auto 0;
}

button {
    padding: 8px 15px;
    border: 0;
    outline: 0;
    color: #fff;
    background: #475E5E;
    font-size: 14px;
    font-family: "AvenirLTStd-Book", sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0 4px 0 #3c4f4f;
}

button:active {
    margin-top: 2px;
    box-shadow: 0 2px 0 #18a689;
}

.login-container {
    position: relative;
}

.login-form {
    display: none;
    position: absolute;
    padding: 20px;
    margin-top: 10px;
    background: #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 0 #d0d0d0;
    right: 10px;
    top: 5px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    background: #f1f1f1;
    font-weight: 300;
    font-family: "AvenirLTStd-Book", sans-serif;
    border-radius: 2px;
}

.login-form input:last-child {
    margin-bottom: 0;
}

.login-form input[type=submit] {
    color: #ffF;
    background: #475E5E;
    font-style: normal;
    font-family: "AvenirLTStd-Book", sans-serif;
    box-shadow: 0 4px 0 #3c5050;
}

.open {
    display: block;
    width: 300px;
    z-index: 1;
}

.login-wrapper {
    width: 120px;
/ margin: 0 auto;
    position: relative;
}

button.logged-in {
    /*width: 200px;*/
    text-align: center;
}

.logged-in .profile-image {
    margin-right: 10px;
}

.logged-in {
    /*transform: translateX(-50%);*/
    left: 50%;
}

.profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    align-items: center;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.profile-image-logged {
    transform: translateX(-400%); /* Poprawiamy przesunięcie */
    left: 50%;
}

.login-form button {
    display: block;
    width: 250px;
    margin: 10px auto;
    padding: 8px;
    color: #fff;
    background: #475E5E;
    font-family: "AvenirLTStd-Book", sans-serif;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border: none;
    box-shadow: 0 4px 0 #3c5050;
}

.login-form button:first-child {
    margin-top: 0;
}

.login-form button:last-child {
    margin-bottom: 0;
}

.login-form button:hover {
    background: #3c5050;
    cursor: pointer;
}

.new-post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.new-post-page input,
.new-post-page textarea {
    width: 50vw;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.new-post-page button {
    width: 150px;
    padding: 10px;
    background: #475E5E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 0 #3c5050;
}

.new-post-page button:hover {
    background-color: #324545;
}

.new-post-page textarea {
    width: 50vw;
    height: 50vh;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-family: "AvenirLTStd-Book", sans-serif;
}

.edit-account-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.edit-account-page label {
    margin-bottom: 10px;
    font-family: "AvenirLTStd-Book", sans-serif;
    text-align: left;
    width: 38vw;
}

.edit-account-page input {
    width: 40vw;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "AvenirLTStd-Book", sans-serif;
    text-align: center;
    font-size: 15px;
}

.edit-account-page button {
    width: 40vw;
    padding: 10px;
    background: #475E5E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 0 #3c5050;
}

.edit-account-page button:hover {
    background-color: #3c5050;
}

.post-details-edit-button {
    margin-right: 10px;
}

.post-details-delete-button {
    margin-left: 10px;
}

.edit-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.edit-post-form input,
.edit-post-form textarea {
    width: 50vw;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-post-form button {
    width: 50vw;
    padding: 10px;
    background: #475E5E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 0 #3c5050;
}

.edit-post-form button:hover {
    background-color: #324545;
}

.edit-post-form textarea {
    width: 50vw;
    height: 50vh;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-family: "AvenirLTStd-Book", sans-serif;
}

.edit-post-form label {
    margin-bottom: 10px;
    font-family: "AvenirLTStd-Book", sans-serif;
    text-align: left;
    width: 48vw;
    font-size: 13px;
}